
body {
  margin-top: 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

h1 {
  width: 10%
  margin: 0 auto 0 auto;

}

.top-container {
  background-color: #ffd1bd;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}


.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}
